.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 30px;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 80px;
    
}
.cart-container{
    margin-top: 80px;
}