.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    padding: 15px;
}
.header-a{
    display: flex;
    gap: 50px;
}
.header-h1{
    text-shadow: 2px 2px 2px black;
    color: whitesmoke;
}
.header-a a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
}
.header-a a:hover{
    color: greenyellow;
}

*{
    margin: 0;
    padding: 0;
}